:root{
    /* General colors */
    --almost-white:#FAFAFA;
    --almost-black:#121212;
    --ftr-blue: #003473;


    /* General components */
    --h1-dark-bg-underline: linear-gradient(to right, rgba(250, 250, 250, .4), rgba(250, 250, 250, .2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    --h1-light-bg-underline: linear-gradient(to right, var(--almost-black), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

    /*Nav bar*/
    --nav-bar-text-color: #652D2D;
    --nav-bar-bg-color: var(--almost-white);
    --nav-bar-height: 60px;
    --nav-bar-desktop-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);

    /*Splash screen*/
    --quote-area-bg-color: var(--ftr-blue);
    --logo-area-bg-color: var(--almost-white);

    /*Our Approach*/
    --our-approach-bg-color: #486BB4;
    --our-approach-text-block-bg: var(--almost-white);

    /*Cost Transparency*/
    --cost-transparency-bg-color:#1565C0;
    --cost-transparency-scheme-bg-color:#003473;
    --cost-transparency-scheme-divider-color: #00295A;

    /*Contact Us*/
    --contact-us-bg-color: #2E7C31;

    /*Footer*/
    --footer-bg-color: #005005;
    --footer-text-color: #AFAFAF;

    /*  Defaults  */
    font-family: Oxanium, Roboto, sans-serif;
    font-weight: normal;
}

/* Theming */
.light-bg {
    --h1-underline: linear-gradient(to right, var(--almost-black), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    --h1-color: var(--almost-black);
    --h2-color: var(--almost-black);

    --quote-color: var(--almost-black);

    color: var(--almost-black);
}

.dark-bg {
    --h1-underline: linear-gradient(to right, rgba(250, 250, 250, .4), rgba(250, 250, 250, .2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    --h1-color: var(--almost-white);
    --h2-color: var(--almost-white);

    --quote-color: var(--almost-white);

    color: var(--almost-white);

}

/* general css */
html{
    scroll-behavior:smooth
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x:hidden;

}
.desktop-only{
    display: none;
}
.section{
    padding: 16px;
    box-sizing: border-box;
}

.content-grid {
    flex-direction: column;
    border-radius: 20px;
    background: var(--almost-white);
    overflow: hidden;
    padding-bottom: -20px;
}
.content-item-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-evenly;
    padding: 16px;
    box-sizing: border-box;
}
.content-item-image-wrapper{
    max-width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    object-fit: contain;
    align-items: center;
    display: flex;
    background: lightgray;
    position: relative;
}
.content-item-image {
    max-width: 100%;
    flex-grow: 1;
    object-fit: contain;
}

.text-center{
    text-align: center;
}

.flex-grow{
    flex-grow: 1;
}

.chip {
    background: var(--contact-us-bg-color);
    padding: 4px 8px;
    text-align: center;
    border-radius: 20px;
    /*line-height: 2em;*/
    margin: 4px;
}


/* Typography */
h1{
    border-bottom: solid 2px;
    font-weight: normal;
    font-size: 2em;

    border-image: var(--h1-underline) 1 0;
    color: var(--h1-color);
}

h2{
    font-weight: normal;
    color: var(--h2-color);
    font-size: 1.5em;
    margin-bottom: 0;
}

.quote{
    font-size: 2em;
    font-style: italic;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    line-height: 1.5em;
    text-align: center;
    color: var(--quote-color);
}

.quote-text-under {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #BBBBBB;
}
.p{
    font-size: 1em;
}

/* Sections */
/* Order so it is displayed at the bottom, but still keeping the accessibility as if it were at the top. */
#header {
    order: 10;
    position: sticky;
    bottom: 0;
    background: var(--almost-white);
    height: var(--nav-bar-height);
    z-index: 100;
}
#header>nav{
    display: flex;
    height: 100%;
}
.nav-img-button, .nav-home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /*100 divided by the amount of nav items*/
    flex-basis: calc(100% / 5);
    flex-direction: column;
    text-decoration: none;
    color: var(--nav-bar-text-color);
    font-size: 0.7em;
    line-height: .8em;
}
.nav-icon{
    padding-bottom: 8px;
}
.nav-img-txt {
    text-align: center;
}
.logo-small{
    height: 48px;
    width: 48px;
}

#splash{
    min-height: calc(100vh - var(--nav-bar-height));
    background-color: var(--ftr-blue);
    display: flex;
    flex-direction: column;
}

#logo-area {
    display: flex;
    justify-content: center;
    background-color: var(--almost-white);
    padding-top: 16px;
}
.logo-full{
    width: 80vw;
    max-width: 600px;
}

.quote-area{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
}
/*
    ::before displays the white indenting triangle. This is made up out of the corners of borders. background is used for the color.
    border-top determines the height. Using a vw value makes sure the angle of the triangle is static if they height stays the same.
    border-left and right are the blue triangles. Using width 50vw for both ensures that they take up the full
    width of the screen. Height and margin-top fix a bug where there were white or blue lines showing at the top or bottom.
*/
.quote-area::before{
    content: '';
    border-top: 15vw solid var(--almost-white);
    border-left: 50vw solid var(--ftr-blue);
    border-right: 50vw solid var(--ftr-blue);
    margin-top: -1px;
    height: 5px;
}
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    flex-grow: 1;
}

#what-we-do {
    background-color: grey;
}

#our-approach{
    background-color: var(--our-approach-bg-color);
}
.arrow-down{
    height: 36px;
}
.chips{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cost-transparency{
    background-color: var(--cost-transparency-bg-color);
}

.cost-box-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.cost-box{
    background: var(--cost-transparency-scheme-bg-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0 16px 4px;
    margin-bottom: 16px;
    max-width: 400px;
}
.cost-box>ul{
    padding-left: 16px;
}
.cost-box-header{
    border: 0;
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: 6px;
    border-style: solid;
    border-color: var(--cost-transparency-scheme-divider-color);
    text-align: center;
}

#contact-us {
    display: flex;
    flex-direction: column;
    background-color: var(--contact-us-bg-color);
}

.contact-row {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 8px;

}

.contact-row > a {
    text-decoration: none;
    color: currentColor;
}
.contact-row > img {
    margin-right: 16px;
}



.footer{
    color: var(--footer-text-color);
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: center;
    padding: 16px;

    font-family: 'Roboto', sans-serif;
    /*font-style: italic;*/
    font-weight: 300;
}



@media (orientation : landscape) {
    #splash {
        flex-direction: row-reverse;
        display: flex;
    }
    .quote-area{
        display: block;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 70%;
        box-sizing: border-box;
    }
    .quote-area::before{
        content: '';
        border-top: 0 transparent;
        border-right: 0 transparent;
        border-left: 130px solid var(--ftr-blue);
        border-bottom: calc(100vh - var(--nav-bar-height)) solid var(--almost-white);
        float: right;
        background: white;
        margin-right: -5px;
    }
    .quote-container {
        justify-content: center;
    }
    /*Make the quote and text under a tad wider so that they cover the triangle*/
    .quote-container>:nth-child(1) {
        width: calc(100% + 8vh - 1vw);
    }
    .quote-container>:nth-child(2) {
        width: calc(100% + .5vh - 1vw);
    }
    /* Apply padding to all but the :before*/
    #logo-area:first-child {
        padding: 0;
    }
    #logo-area {
        width: 30%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .logo-full{
        max-width: 100%;
        height: auto;
        margin-left: -40px;
        z-index: 0;
    }
}

@media (orientation: landscape) and (min-width: 768px){
    .quote-area{
        width: 60%
    }
    #logo-area {
        width: 40%;
    }
}

/* Desktop */
@media (min-width: 768px) {
    .desktop-only{
        display: initial;
    }
    .mobile-only {
        display: none;
    }

    .section{
        padding-left: 32px;
        padding-right: 32px;
    }

    #header {
        order: 0;
        top: 0;
        box-shadow: var(--nav-bar-desktop-shadow);
    }
    .nav-img-button{
        font-size: 1.4em;
    }
    .nav-icon{
        display: none;
    }

    .logo-small{
        height: 86px;
        width: 86px;
        padding: 16px;
        margin-top: 46px;
        border-radius: 100%;
        background: var(--almost-white);
        box-shadow: var(--nav-bar-desktop-shadow);
    }

    .quote {
        font-size: 3em;
    }

    .quote-text-under{
        padding-left: 5%;
    }

    .content-grid{
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
    }


    /* Make sure the order is correct
       | text | img  |
       | img  | text |
    */
    .content-grid > :nth-child(2) { order: 1; }
    .content-grid > :nth-child(3) { order: 3; }
    .content-grid > :nth-child(4) { order: 2; }

    .content-item-text,.content-item-image-wrapper{
        max-width: 50%;
    }

    /*Can be used to make a blurred background of the img itself. See if this is wanted*/

    /*.content-item-image-wrapper::before {*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    z-index: 0;*/

    /*    display: block;*/
    /*    background-image: var(--img-src);*/
    /*    background-repeat: no-repeat;*/
    /*    background-size: 100% 100%;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    filter: blur(10px);*/
    /*}*/

    .content-item-image{
        z-index: 1;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 1200px )  {
    .quote {
        font-size: 4em;
    }

    .quote-text-under {
        font-size: 1.4em;
    }

    .logo-full{
        max-width: 90%;
    }

}